.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    background-color: rgb(218, 199, 193);
    padding: 16px;
    border: 4px solid rgb(155, 21, 21);
    gap: 8px;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
.header {
    background: tomato;
}

.item {
    background: palegoldenrod;
    border: 4px solid saddlebrown;
    height: 48px; 
    flex: 1;
    padding: 4px;
}